.gallery {
  justify-content: space-between;
}

.gallery__title {
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 40px;
}

.gallery__list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.gallery__list ul {
  display: contents;
  list-style-type: none;
}

.gallery__new-deck-btn,
.gallery__new-card-btn {
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 20px;
  width: 325px;
  height: 205px;
  display: flex;
  padding: 20px;
  border-style: none;
  cursor: pointer;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #1a1a1a80;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.gallery__new-deck-btn:hover,
.gallery__new-card-btn:hover {
  background-color: #c5c5c5;
  color: #1a1a1a;
}

.gallery__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.practice-btn {
  background-color: #1a1a1a;
  color: #fff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  border-style: none;
  border-radius: 8px;
  padding: 12px 20px;
  cursor: pointer;
}

.practice-btn:hover {
  background-color: #333;
}